* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(179, 189, 209);
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 100;
}

.inputContainer {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.outputContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgb(179, 189, 209);
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

#addNewTask {
  border-color: #ffffff;
  background-color: rgb(110, 150, 185);
  color:#ffffff;
}

#addNewTaskButton {
  background-color: rgb(110, 150, 185);
}

ul {
  list-style: none;
  width: 70%;
  padding: 0px;
  color: #ffffff;

}

button {
  background-color: #ffffff;
}
