* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(179, 189, 209);
  border-style: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 100;
}

.inputContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
  text-justify: bottom;
  
}

.outputContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgb(179, 189, 209);
  margin: 1rem auto;
  max-width: 500px;
}

#addNewTask {
  border-color: #ffffff;
  background-color: rgb(110, 150, 185);
  color: #ffffff;
  border-radius: 30px;
  text-indent: 6px; 
}

#addNewTaskButton {
  background-color: rgb(110, 150, 185);
  width: 33px;
  height: 33px;
  border-radius: 17px;
  border-color: #ffffff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}

ul {
  list-style: none;
  width: 70%;
  padding: 0px;
  color: #ffffff;
}

li {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  background-color: transparent;
}

.doneButton {
  background-color: rgb(110, 150, 185);
  font-weight: 500;
  border-radius: 20px;
  height: 25px;
  width: 52px;
}

.deleteButton {
  background-color: rgb(110, 150, 185);
  border-radius: 20px;
  height: 25px;
  width: 25px;
  border: none;
  line-height: 25px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.buttonsDiv {
  display: flex;
  gap: 5px;
}

button {
  cursor: pointer;
}

/*safety question before clearing*/
.safety {
  justify-content: center;
  gap: 10px;
  background-color: rgb(110, 150, 185);
  min-width: 300px;
  max-width: 400px;
  padding: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  background-color: rgb(110, 150, 185);
  text-align: center;
  font-weight: 500;
}
.clearButtonsDiv {
  background-color: rgb(110, 150, 185);
  display: flex;
  justify-content: center;
  gap: 20px;
}
.yesOrNoClear {
  background-color: #ffffff;
  width: 130px;
  height: 50px;
  font-size: 30px;
  border-radius: 25px;
}
#clearAllButton {
  background-color: rgb(110, 150, 185);
  width: 63px;
  height: 33px;
  border-radius: 17px;
  border-color: #ffffff;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  
}
