* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  color: rgb(110, 150, 185);
}

.inputContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.outputContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgb(179, 189, 209);
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
  
}

#addNewTaskButton {
  background-color: rgb(110, 150, 185);
}

ul {
  list-style: none;
  width: 70%;
  padding: 0px;
  color: #ffffff;
  
}

/*done and deletebutton*/
